# NFL Stats Collector

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

## Scrap the data from the espn website and read it into panada tables

In [2]:
table_qb = pd.read_html('https://www.espn.com/nfl/weekly/leaders/_/week/1/seasontype/2/type/passing')

## Get the table that has the data for all players in that catagory

In [3]:
qb = table_qb[6]

## Get the header row and zip it with the original column names to rename to header

In [4]:
cols = qb.columns.tolist()

In [5]:
new_cols = qb.loc[1].tolist()

In [6]:
col_dict = dict(zip(cols, new_cols))

In [7]:
qb.rename(columns=col_dict,inplace=True)

## Delete the original header rows and reset the index

In [8]:
qb.drop([0,1],inplace=True)

In [9]:
qb.reset_index(inplace=True,drop=True)

## Format the columns to numeric

In [10]:
qb[['RK', 'COMP', 'ATT', 'YDS', 'TD', 'INT','SACK', 'FUM', 'RAT']] = qb[['RK', 'COMP', 'ATT', 'YDS', 'TD', 'INT',
       'SACK', 'FUM', 'RAT']].apply(pd.to_numeric)

## Split the PLAYER column and add COMP_PER Colum

In [11]:
qb[['NAME','POSITION']]= qb['PLAYER'].str.split(",", expand = True)

In [12]:
qb['COMP_PER'] = qb['COMP'] / qb['ATT']

## Split the Result column

In [13]:
qb[['WIN_LOSS','SCORE','HOME_AWAY','OPPONENT']]= qb['RESULT'].str.split( expand = True)

In [14]:
qb.loc[qb['HOME_AWAY'] == 'at', 'HOME_AWAY'] = 'AWAY'
qb.loc[qb['HOME_AWAY'] == 'vs.', 'HOME_AWAY'] = 'HOME'

In [15]:
qb[['WINNER_SCORE','LOSER_SCORE']]= qb['SCORE'].str.split("-", expand = True)

In [16]:
qb[['WINNER_SCORE','LOSER_SCORE']] = qb[['WINNER_SCORE','LOSER_SCORE']].apply(pd.to_numeric)

In [17]:
qb['SPREAD'] = qb['WINNER_SCORE'] - qb['LOSER_SCORE']

In [18]:
qb.loc[qb['WIN_LOSS'] == 'L', 'SPREAD'] = qb['SPREAD'] * -1

In [19]:
qb.drop(columns=['PLAYER', 'RESULT'],inplace=True)

In [20]:
qb['YEAR'] = '2022'

In [21]:
qb['WEEK'] = '1'

In [22]:
qb.head(2)

,RK,TEAM,COMP,ATT,YDS,TD,INT,SACK,FUM,RAT,...,COMP_PER,WIN_LOSS,SCORE,HOME_AWAY,OPPONENT,WINNER_SCORE,LOSER_SCORE,SPREAD,YEAR,WEEK
0,1,KC,30,39,360,5,0,0,0,144.2,...,0.769231,W,44-21,AWAY,ARI,44,21,23,2022,1
1,2,IND,32,50,352,1,1,2,1,83.1,...,0.640000,T,20-20,AWAY,HOU,20,20,0,2022,1

## Connect to the database

In [32]:
import psycopg2
from sqlalchemy import create_engine
  
  
conn_string = 'postgresql://brada:Feasant1@localhost/nfl'
  
db = create_engine(conn_string)
conn = db.connect()
  

qb.to_sql('passing', con=conn, if_exists='replace',
          index=False)
conn = psycopg2.connect(conn_string
                        )
conn.autocommit = True
cursor = conn.cursor()
  
sql1 = '''select * from passing;'''
cursor.execute(sql1)
for i in cursor.fetchall():
    print(i)
    
sql1 = '''select NAME from passing;'''
cursor.execute(sql1)
for i in cursor.fetchall():
    print(i)
  
# conn.commit()
conn.close()

(1, 'KC', 30, 39, 360, 5, 0, 0, 0, 144.2, 'Patrick Mahomes', ' QB', 0.7692307692307693, 'W', '44-21', 'AWAY', 'ARI', 44, 21, 23, '2022', '1')
(2, 'IND', 32, 50, 352, 1, 1, 2, 1, 83.1, 'Matt Ryan', ' QB', 0.64, 'T', '20-20', 'AWAY', 'HOU', 20, 20, 0, '2022', '1')
(3, 'DEN', 29, 42, 340, 1, 0, 2, 0, 101.3, 'Russell Wilson', ' QB', 0.6904761904761905, 'L', '17-16', 'AWAY', 'SEA', 17, 16, -1, '2022', '1')
(4, 'CIN', 33, 53, 338, 2, 4, 7, 1, 61.7, 'Joe Burrow', ' QB', 0.6226415094339622, 'L', '23-20', 'HOME', 'PIT', 23, 20, -3, '2022', '1')
(5, 'WSH', 27, 41, 313, 4, 2, 1, 0, 101.0, 'Carson Wentz', ' QB', 0.6585365853658537, 'W', '28-22', 'HOME', 'JAX', 28, 22, 6, '2022', '1')
(6, 'NYJ', 37, 59, 309, 1, 1, 3, 0, 74.8, 'Joe Flacco', ' QB', 0.6271186440677966, 'L', '24-9', 'HOME', 'BAL', 24, 9, -15, '2022', '1')
(7, 'BUF', 26, 31, 297, 3, 2, 2, 0, 112.0, 'Josh Allen', ' QB', 0.8387096774193549, 'W', '31-10', 'AWAY', 'LAR', 31, 10, 21, '2022', '1')
(8, 'LV', 22, 37, 295, 2, 3, 5, 0, 69.1, 'Derek Carr', ' QB', 0.5945945945945946, 'L', '24-19', 'AWAY', 'LAC', 24, 19, -5, '2022', '1')
(9, 'LAC', 26, 34, 279, 3, 0, 0, 0, 129.4, 'Justin Herbert', ' QB', 0.7647058823529411, 'W', '24-19', 'HOME', 'LV', 24, 19, 5, '2022', '1')
(10, 'MIN', 23, 32, 277, 2, 0, 1, 0, 118.9, 'Kirk Cousins', ' QB', 0.71875, 'W', '23-7', 'HOME', 'GB', 23, 7, 16, '2022', '1')
(11, 'JAX', 24, 42, 275, 1, 1, 2, 0, 75.0, 'Trevor Lawrence', ' QB', 0.5714285714285714, 'L', '28-22', 'AWAY', 'WSH', 28, 22, -6, '2022', '1')
(12, 'MIA', 23, 33, 270, 1, 0, 3, 0, 104.4, 'Tua Tagovailoa', ' QB', 0.696969696969697, 'W', '20-7', 'HOME', 'NE', 20, 7, 13, '2022', '1')
(13, 'NO', 23, 34, 269, 2, 0, 4, 0, 111.0, 'Jameis Winston', ' QB', 0.6764705882352942, 'W', '27-26', 'AWAY', 'ATL', 27, 26, 1, '2022', '1')
(14, 'TEN', 20, 33, 266, 2, 0, 1, 0, 106.4, 'Ryan Tannehill', ' QB', 0.6060606060606061, 'L', '21-20', 'HOME', 'NYG', 21, 20, -1, '2022', '1')
(15, 'PHI', 18, 32, 243, 0, 0, 1, 0, 80.6, 'Jalen Hurts', ' QB', 0.5625, 'W', '38-35', 'AWAY', 'DET', 38, 35, 3, '2022', '1')
(16, 'HOU', 23, 37, 240, 2, 0, 3, 1, 98.9, 'Davis Mills', ' QB', 0.6216216216216216, 'T', '20-20', 'HOME', 'IND', 20, 20, 0, '2022', '1')
(17, 'LAR', 29, 41, 240, 1, 3, 7, 0, 63.0, 'Matthew Stafford', ' QB', 0.7073170731707317, 'L', '31-10', 'HOME', 'BUF', 31, 10, -21, '2022', '1')
(18, 'CAR', 16, 27, 235, 1, 1, 4, 0, 84.7, 'Baker Mayfield', ' QB', 0.5925925925925926, 'L', '26-24', 'HOME', 'CLE', 26, 24, -2, '2022', '1')
(19, 'ATL', 20, 33, 215, 0, 0, 0, 1, 79.7, 'Marcus Mariota', ' QB', 0.6060606060606061, 'L', '27-26', 'HOME', 'NO', 27, 26, -1, '2022', '1')
(20, 'DET', 21, 37, 215, 2, 1, 1, 0, 80.4, 'Jared Goff', ' QB', 0.5675675675675675, 'L', '38-35', 'HOME', 'PHI', 38, 35, -3, '2022', '1')
(21, 'BAL', 17, 30, 213, 3, 1, 2, 0, 98.4, 'Lamar Jackson', ' QB', 0.5666666666666667, 'W', '24-9', 'AWAY', 'NYJ', 24, 9, 15, '2022', '1')
(22, 'NE', 21, 30, 213, 1, 1, 2, 1, 87.2, 'Mac Jones', ' QB', 0.7, 'L', '20-7', 'AWAY', 'MIA', 20, 7, -13, '2022', '1')
(23, 'TB', 18, 27, 212, 1, 1, 2, 0, 87.3, 'Tom Brady', ' QB', 0.6666666666666666, 'W', '19-3', 'AWAY', 'DAL', 19, 3, 16, '2022', '1')
(24, 'SEA', 23, 28, 195, 2, 0, 2, 0, 119.5, 'Geno Smith', ' QB', 0.8214285714285714, 'W', '17-16', 'HOME', 'DEN', 17, 16, 1, '2022', '1')
(25, 'GB', 22, 34, 195, 0, 1, 4, 1, 67.7, 'Aaron Rodgers', ' QB', 0.6470588235294118, 'L', '23-7', 'AWAY', 'MIN', 23, 7, -16, '2022', '1')
(26, 'PIT', 21, 38, 194, 1, 0, 1, 0, 78.2, 'Mitch Trubisky', ' QB', 0.5526315789473685, 'W', '23-20', 'AWAY', 'CIN', 23, 20, 3, '2022', '1')
(27, 'ARI', 22, 34, 193, 2, 0, 2, 0, 99.3, 'Kyler Murray', ' QB', 0.6470588235294118, 'L', '44-21', 'HOME', 'KC', 44, 21, -23, '2022', '1')
(28, 'NYG', 17, 21, 188, 2, 1, 5, 1, 115.9, 'Daniel Jones', ' QB', 0.8095238095238095, 'W', '21-20', 'AWAY', 'TEN', 21, 20, 1, '2022', '1')
(29, 'SF', 13, 28, 164, 0, 1, 2, 0, 50.3, 'Trey Lance', ' QB', 0.4642857142857143, 'L', '19-10', 'AWAY', 'CHI', 19, 10, -9, '2022', '1')
(30, 'CLE', 18, 34, 147, 1, 0, 1, 0, 74.0, 'Jacoby Brissett', ' QB', 0.5294117647058824, 'W', '26-24', 'AWAY', 'CAR', 26, 24, 2, '2022', '1')

UndefinedColumn: column "name" does not exist
LINE 1: select NAME from passing;
               ^

In [ ]:
sql1 = '''CREATE TABLE passing (
    RK          integer,
    TEAM        varchar(40),
    COMP        integer,
    ATT         integer,
    YDS         integer,
    TD          integer,
    INT         integer,
    SACK        integer,
    FUM         integer,
    RAT         decimal,
    NAME        varchar(40),
    POSITION    varchar(40),
    COMP_PER    decimal,
    WIN_LOSS    varchar(40),
    SCORE       varchar(40),
    HOME_AWAY   varchar(40),
    OPPONENT    varchar(40),
    WINNER_SCORE integer,
    LOSER_SCORE  integer,
    SPREAD       integer,
    YEAR         integer,
    WEEK         integer );'''

cursor.execute(sql1)

## Graph results

In [ ]:
import matplotlib.pyplot as plt

fig, axes = plt.subplots(nrows=2, ncols=2)

qb[['COMP_PER','PLAYER']].sort_values(by='COMP_PER',ascending=False).plot(x='PLAYER',kind='bar',grid=True,ax=axes[0,0],figsize=(12,6))
qb[['COMP','ATT','PLAYER']].sort_values(by='COMP',ascending=False).plot(x='PLAYER',y=['COMP','ATT'],kind='bar',grid=True,ax=axes[0,1],figsize=(12,6))
qb[['TD','INT','PLAYER']].sort_values(by='TD',ascending=False).plot(x='PLAYER',y=['TD','INT'],kind='bar',grid=True,ax=axes[1,0],figsize=(12,6))
qb[['RAT','PLAYER']].sort_values(by='RAT',ascending=False).plot(x='PLAYER',y='RAT',kind='bar',grid=True,ax=axes[1,1],figsize=(12,18))

## Playing with the url to see what we can get

In [ ]:
week_num = 1
position = 'receiving'
var_table_qb = pd.read_html(f'https://www.espn.com/nfl/weekly/leaders/_/week/{week_num}/seasontype/2/type/{position}')

In [ ]:
var_table_qb[6]